.react-tel-input .special-label {
    display: none !important;
}

.react-tel-input .form-control {
    background-color: rgb(55 65 81) !important;
    border-radius: 0.5rem !important;
    height: 50px !important;
    transition: border-color 0.3s ease-in-out;
    caret-color: white !important;
}

.react-tel-input .form-control:hover {
    border-color: white !important;
}

.react-tel-input .form-control:focus {
    border-color: white !important;
    box-shadow: none
}

.react-tel-input .flag-dropdown {
    height: 50px !important;
    background: transparent !important;
    border-color: white !important;
}